.suggestion {
  cursor: pointer;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
.suggestion:hover{
  background-color: gray;
}
.width
{
  width: 50vw;
  padding: 1rem;
  display: flex;
  flex-direction: initial;
  align-items: center;
  height: 100vh;
  justify-content: center;
 
 
}
.white-bg
{
  background: #fff;
}
.cadet-bg{
  background-color: cadetblue;
}
.big-bg
{
  
  height: calc(100vh - 69px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: scale-down;
  
}
.footer {
  text-align: center;
  width: 100%;
  padding: 10px;
}